@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Light'), local('Roboto-Light'), url(/font/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(/font/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/font/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(/font/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/font/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/font/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(/font/RobotoCondensed-Bold.ttf) format('truetype');
}

html,
body {
    font-family: Roboto;
    height: 100%;
}

#webfont-preloader {
    font-family: 'Roboto';
    position: absolute;
    left: -9001px;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar-inner {
    background-color: #fff;
    background-image: none;
    padding-left: 10px;
    padding-right: 10px;
}

    .navbar .brand {
        font-family: 'Roboto Condensed';
        color: #000;
        text-shadow: none;
    }

    .navbar .btn,
    .navbar .add-on {
        background-image: none;
        background-color: #f9f9f9;
        border-color: #c5c5c5;
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px #f8f8f8,
                    0 1px 1px -1px rgba(0,0,0,0.5);
        color: #000;
        cursor: pointer;
        font-weight: normal;
        text-shadow: 0 -1px 1px transparent,  0 1px 1px transparent;
        -webkit-transition: background .25s;
    }

    .navbar .btn:hover,
    .navbar .add-on:hover {
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        background-position: 0 0;
        box-shadow: inset 0 -4px 0 -2px rgba(0,0,0,.3);
    }

    .navbar .btn:active,
    .navbar .add-on:active {
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
        box-shadow: inset 0 4px 1px -2px rgba(0,0,0,.2);
    }

    .navbar .btn-group .btn {
        border-radius: 0;
    }

    .navbar .btn-group .btn:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .navbar .btn-group .btn:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .navbar .btn.disabled,
    .navbar .btn[disabled],
    .navbar .btn.disabled:hover,
    .navbar .btn[disabled]:hover,
    .navbar .btn.disabled:active,
    .navbar .btn[disabled]:active {
        background-image: none;
        box-shadow: inset 0 0 0 1px #f8f8f8,
                    0 1px 1px -1px rgba(0,0,0,0.5);
        opacity: 0.5;
    }

    #time-picker .bootstrap-timepicker-widget {
        left: 85px;
    }

    #search {
        border-color: #c5c5c5;
        border-radius: 3px;
        margin-right: 5px;
        margin-left: 7px;
        width: 300px;
    }

    #search:focus {
        border-color: #3e7ef8;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    }

    .navbar-controls > .btn-group,
    .navbar-controls > .btn {
        margin-left: 10px;
    }

    .input-append {
        float: left;
        margin-right: 10px;
    }

    .input-append input {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        width: 75px;
    }

.range {
    background-color: #eee;
    height: 20px;
    left: 0;
    padding: 5px 10px;
    position: static;
    top: 41px;
    width: calc(100% - 20px);
    z-index: 99999;
}

    .range strong {
        font-family: 'Roboto Condensed';
        margin-left: 7px;
    }

    .open-range,
    .close-range {
        float: left;
        opacity: 1;
        -webkit-transition: opacity .2s;
           -moz-transition: opacity .2s;
            -ms-transition: opacity .2s;
             -o-transition: opacity .2s;
                transition: opacity .2s;
    }

    .open-range.fade,
    .close-range.fade {
        opacity: 0;
    }

    .close-range {
        float: right;
    }

    .range-selection-label {
        padding: 0 7px;
        position: absolute;
        top: 45px;
    }

    .range-selection-marker {
        background: #c5c5c5;
        height: calc(100% - 41px);
        position: fixed;
        top: 41px;
        width: 1px;
        z-index: 99999;
    }

#tree-container {
    cursor: move;
    height: calc(100% - 71px);
    overflow: hidden;
    padding: 0;
}

#infoBox {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),
                0 -3px 8px rgba(0,0,0,0.2);
    cursor: default;
    padding: 20px;
    position: absolute;
    width: 260px;
    z-index: 999999;
}

    #infoBox .loading {
        opacity: .6;
        margin: 10px 0 0 120px;
    }

    #infoBox h3 {
        font-family: 'Roboto Condensed';
        font-size: 18px;
        line-height: 28px;
        margin: 0;
    }

        #infoBox h3 a {
            color: #333;
            display: block;
        }

        #infoBox.no-preview h3 a {
            color: #aaa;
        }

        #infoBox h3 a i {
            color: #ccc;
            font-size: 14px;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        #infoBox h3 a:hover,
        #infoBox h3 a:hover i {
            color: #005580;
            text-decoration: none;
        }

    #infoBox p {
        margin: 10px 0 0 0;
    }

    #infoBox a.pageUrl {
        display: block;
        font-size: 11px;
        overflow: hidden;
        max-width: 260px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #infoBox .img-wrap {
        background-color: #ccc;
        margin: 10px 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    #infoBox .img-wrap img {
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        margin: 0 auto;
    }

    #infoBox.loading > *:not(.loading) {
        display: none;
    }

.popIn-setup,
.popOut-setup {
    -webkit-transition-property: opacity, margin;
    -webkit-transition-duration: .2s;
}

.popIn-setup,
.popOut-setup.popOut-start {
    margin-top: 10px;
    opacity: 0;
}

.popIn-setup.popIn-start,
.popOut-setup {
    margin-top: 0;
    opacity: 1;
}

.fadeIn-setup,
.fadeOut-setup {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .2s;
}

.fadeIn-setup,
.fadeOut-setup.fadeOut-start {
    opacity: 0;
}

.fadeIn-setup.fadeIn-start,
.fadeOut-setup {
    opacity: 1;
}

/* hint.css modifications */
.hint:hover:before,
.hint:hover:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
    transition-delay:.5s;
}

.navbar-controls .hint--bottom:before,
.navbar-controls .hint--bottom:after {
    left: auto;
    right: 50%;
}

.navbar-controls .hint--bottom:after {
    margin-left: 0;
    margin-right: -18px;
}