@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/font/UbuntuMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(/font/UbuntuMono-Bold.ttf) format('truetype');
}

html,
body {
    height: 100%;
}

#webfont-preloader {
    font-family: 'Ubuntu Mono';
    position: absolute;
    left: -9001px;
}

#search {
    margin-right: 5px;
    margin-left: 40px;
    width: 300px;
}

.container-fluid {
    height: calc(100% - 41px);
    overflow-x: hidden;
    padding: 0;
}

.navbar-controls > div,
.navbar-controls > button {
    margin-left: 10px;
}