html,
body {
    height: 100%;
}
#search {
    margin-right: 5px;
    margin-left: 40px;
    width: 300px;
}

.container-fluid {
    height: calc(100% - 41px);
    overflow-x: hidden;
    padding: 0;
}