<!doctype html>
<html ng-app="history" ng-csp>
<head>
    <title>History</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/libs/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/libs/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/css/libs/font-awesome.min.css">
    <link rel="stylesheet" href="/css/libs/hint.min.css">
    <link rel="stylesheet" href="/css/history.css">
</head>
<body ng-keyup ng-controller="Hotkeys">
    <div id="webfont-preloader">.</div>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <span class="brand">History</span>
                <form class="navbar-form pull-left">
                    <!--<input type="text" id="search" placeholder="Search for pages, dates, times, & devices...">
                    <button class="btn btn-primary">
                        <i class="icon-search"></i>
                    </button>-->
                    <div class="input-append date hint--right" data-hint="Select a date" id="date-picker" data-date-format="m/d/yy">
                        <input class="date-display" type="text">
                        <span class="add-on icon-calendar"></span>
                    </div>
                    <div class="input-append hint--right" data-hint="Select a time" id="time-picker">
                        <input class="time-display input-small" type="text">
                        <span class="add-on icon-time"></span>
                    </div>
                </form>
                <div class="navbar-controls" ng-controller="Controls">
                    <!--<button class="btn pull-right hint--bottom" data-hint="settings">
                        <i class="icon-cog"></i>
                    </button>-->
                    <div class="btn-group pull-right">
                        <button class="btn hint--bottom" data-hint="Zoom out 10 minutes" ng-click="zoom(10)">
                            <i class="icon-zoom-out"></i>
                        </button>
                        <button class="btn hint--bottom" data-hint="Zoom in 10 minutes" ng-click="zoom(-10)">
                            <i class="icon-zoom-in"></i>
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn hint--bottom" data-hint="Scroll back {{range / 2}} minutes" ng-click="move(-0.5)">
                            <i class="icon-chevron-left"></i>
                        </button>
                        <button class="btn hint--bottom disable-now" data-hint="Scroll forward {{range / 2}} minutes" ng-click="move(0.5)">
                            <i class="icon-chevron-right"></i>
                        </button>
                        <button class="btn hint--bottom disable-now" data-hint="Scroll to now" ng-click="move()">
                            <i class="icon-time"></i>
                        </button>
                    </div>
                    <!--<button class="btn pull-right" ng-click="debug()">
                        <i class="icon-info-sign"></i>
                    </button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="range" ng-cloak ng-controller="Range" ng-mousemove="moveSelection($event)" ng-mouseout="removeSelection()">
        <span class="open-range" ng-class="{fade: !left}">{{openRange.date}}<strong>{{openRange.time}}</strong></span>
        <span class="close-range" ng-class="{fade: !right}">{{closeRange.date}}<strong>{{closeRange.time}}</strong></span>
        <span class="range-selection-label" ng-show="selection.length > 0 && selection[0].time" ng-style="selection[0].style">{{selection[0].date}}<strong>{{selection[0].time}}</strong></span>
        <div class="range-selection-marker" ng-show="selection.length > 0" ng-style="selection[0].style"></div>
        <span class="range-selection-label" ng-show="selection.length > 1 && selection[1].time" ng-style="selection[1].style">{{selection[1].date}}<strong>{{selection[1].time}}</strong></span>
        <div class="range-selection-marker" ng-show="selection.length > 1" ng-style="selection[1].style"></div>
    </div>
    <div id="tree-container" class="container-fluid">
        <div class="row-fluid">
            <div ng-view></div>
            <!--ng-animate="{show: 'popIn', hide: 'popOut'}"-->
            <div id="infoBox"
                ng-cloak
                ng-controller="InfoBox"
                ng-show="visible"
                ng-mouseover="keepInfoBox()"
                ng-mouseout="hideInfoBox()"
                ng-style="infoBox.style"
                ng-click="debug()"
                ng-class="{ 'loading': !infoBox.title, 'no-preview': infoBox.error }"
            >
                <h3 ng-show="infoBox.title">
                    <a href="{{infoBox.url}}">
                        <span ng-bind-html="infoBox.title"></span>
                        <i class="icon-external-link-sign"></i>
                    </a>
                </h3>
                <a href="{{infoBox.url}}" class="pageUrl" title="{{infoBox.url}}" target="_blank">{{infoBox.urlParts[0]}}<strong>{{infoBox.domain}}</strong>{{infoBox.urlParts[1]}}</a>
                <i class="loading icon-spinner icon-spin icon-2x" ng-show="infoBox.checkingImages.length || !infoBox.title || infoBox.error === 'timeout'"></i>
                <div class="img-wrap">
                    <img src="{{infoBox.featuredImage}}" ng-show="infoBox.featuredImage">
                </div>
                <p ng-show="infoBox.description" ng-bind-html="infoBox.description"></p>
            </div>
        </div>
    </div>

    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/kinetic.min.js"></script>
    <script src="/js/libs/moment.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/bootstrap-datepicker.js"></script>
    <script src="/js/libs/bootstrap-timepicker.min.js"></script>
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/angular-bootstrap.min.js"></script>
    <script src="/js/libs/angular-resource.min.js"></script>
    <script src="/js/libs/angular-sanitize.min.js"></script>
    <script src="/js/history-services.js"></script>
    <script src="/js/history-controllers.js"></script>
    <script src="/js/history-filters.js"></script>
    <script src="/js/history-directives.js"></script>
    <script src="/js/history.js"></script>
</body>
</html>